.App {
  width: 97%;
  text-align: center;
  margin: 30px auto auto;
  padding: 30px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App .App-title {
  font-size: 35px;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.Container {
  margin-top: 50px;
}

.Container:after {
  clear: both;
  display: block;
  content: "";
}

.Container .Column-left {
  color: white;
  float: left;
  border-right: 1px solid #ddd;
}

.Container .Column-right {
  float: right;
  border-right: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
